<div id="user" class="mui-container user-delete">

    <div id="title-bar" class="mui--text-left text-capitalize">
        <div class="mui-panel data-panel">
            <div class="mui-row">
                <div class="column mui-col-md-5 user-image">
                    <img class="user-img" src="{{ picture.large }}"/>
                </div>

                <div class="column mui-col-md-7 user-delete mui--text-center">
                    <div class="content">
                        <div class="mui--text-headline">Are you sure you want to delete</div>
                        <div class="mui--text-display1 ">{{ first_name }} {{ last_name }} ?</div>
                        <div class="delete-actions">
                            <button type="button" class="mui-btn mui-btn--danger submit">Good Bye!</button>
                            <button type="button" class="mui-btn cancel close-modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>