<div id="user-manager" class="mui--overflow-hidden">

    <div id="manager-bar" class="mui-container">
        <div class="mui-panel mui--clearfix">
            <a href="#" class="mui-btn mui-btn--medium mui-btn--primary create-contact mui--pull-right" >
                Add Contact
            </a>
        </div>
    </div>

    <div class="mui-container">
        <div id="users" class="mui-row"></div>
    </div>

</div>