<div id="user-manager" class="mui--overflow-hidden">

    <div id="manager-bar" class="mui-container">
        <div class="mui-panel">
            <table width="100%">
                <tr>
                    <td class="mui--text-title">User Manager</td>
                    <td align="right">
                        <ul class="mui-list--inline mui--text-body2">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Login</a></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="mui-container">
        <div id="users" class="mui-row"></div>
    </div>

</div>