#front-page
  padding-bottom: 80px
  #hero
    background-color: blue;
    padding: 60px 0;
    button
      margin-top: 60px;
  #breakout
    margin-top: 60px;

  #highlights
    margin-top: 60px;
    .column
      padding: 15px;
