#user-manager
  padding-bottom: 80px
  #manager-bar
    margin-top: 25px;
  .column
    img
      min-width: 30px;
      max-width: 55px;
    .mui-divider
      margin-top: 5px;
  /**
   * Panel
   */

  .delete-icon
    icon-box(white, red, dark-grey, white)
    position: absolute
    padding: 0;
    top: -0px;
    right: -0px;
    z-index: -1;

  .edit-icon,
  .view-icon
    icon-circle(light-grey, blue, dark-grey, white)

  .user-actions
    margin-top: 10px;