#user-manager
  padding-bottom: 80px
  #manager-bar
    margin-top: 25px;
  .column
    img
      min-width: 30px;
      max-width: 55px;
    .mui-divider
      margin-top: 5px;
  /**
   * Panel
   */
  .duplicate-icon
    background-color: orange;
    position: absolute
    width: 20px;
    height: 20px;
    padding: 0;
    top: -0px;
    right: -0px;
    z-index: -1;
    a
      display:block;
      color: white;
      font-weight: bold;
      text-decoration:none;
      &:hover
        background: light-grey
        color: orange
