#user
  #title-bar
    background-color: white;
  .data-panel
    padding: 0 15px 0 0;
  .edit-btn
    padding:0 13px;
  .material-icons
    vertical-align: -3px;
  .detail-list
    li
      margin-top: 4px;
  .user-form,
  .user-delete
    padding: 20px 30px 0 75px;
  .user-delete
    display:table
    .content
      height: 492px;
      display: table-cell;
      vertical-align: middle;
    .delete-actions
      margin-top: 20px;
  .user-img
    min-width: 500px