<div id="front-page" class="mui--overflow-hidden">

    <div id="hero">
        <div class="mui--text-display3">Brand.io</div>
        <a href="#manage" class="mui-btn mui-btn--raised">Get started</a>
    </div>

    <div id="breakout" class="mui--text-display2 mui--text-center mui-container">
        <div class="mui-col-md-10 mui-col-md-offset-1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            <span class="color-text-blue"> Phasellus </span>
            vestibulum lorem risus, nec suscipit lorem
            <span class="color-text-blue"> laoreet quis.</span>
        </div>
    </div>

    <div id="highlights" class="mui-container">
        <div class="mui-row">
            <div class="column mui-col-md-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                <span class="color-text-blue"> Phasellus </span>
                vestibulum lorem risus, nec suscipit lorem
                <span class="color-text-blue"> laoreet quis.</span>
            </div>
            <div class="column mui-col-md-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                <span class="color-text-blue"> Phasellus </span>
                vestibulum lorem risus, nec suscipit lorem
                <span class="color-text-blue"> laoreet quis.</span>
            </div>
            <div class="column mui-col-md-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                <span class="color-text-blue"> Phasellus </span>
                vestibulum lorem risus, nec suscipit lorem
                <span class="color-text-blue"> laoreet quis.</span>
            </div>
        </div>

    </div>
</div>